.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 17px;
  overflow: hidden;
  &__product {
    flex: 2;
    margin-left: 30px;
    padding: 30px 0px 0px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &__img--catalog {
    min-height: 100%;
    max-width: 600px;
  }
  &__img {
    position: relative;
    z-index: -1;
    flex: 1;
    min-width: 320px;
    max-width: 520px;
    min-height: 400px;
    animation: rotation 15s infinite linear -30s;
  }

  &__title {
    line-height: 1.2;
    padding: 12px 7px;
    font-size: 44px;
  }

  &__link {
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    color: $black;
    font-size: 16px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1170px) {
  .shop {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    &__product {
      width: 100%;
      margin-left: 0;
      min-height: 100%;
      padding: 0;
    }
    &__title {
      font-size: 32px;
    }
    &__img--catalog {
      object-fit: cover;
      min-width: 100%;
      object-fit: cover;
      max-height: 470px;
    }
  }
}

@media (max-width: 768px) {
  .shop {
    &__img {
      max-width: 380px;
      max-height: 420px;
    }
    &__title {
      text-align: center;
      font-size: 26px;
    }
  }
}
